body {
    margin: 5px;
    border: 5px;
    padding: 5px;
}
.page-heading {
    position: static;
    text-align: center;
    text-decoration-line: underline;
}
.project-heading {
    text-align: center;
    border: 5px solid black;
}
#imgChange {
    border: 1px solid black;
    border-radius: 20px;
}
#imgChange:hover {
    cursor: pointer;
}