body {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
    background: #222831;
}
hr {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 0;
    height: 4px;
}
a {
    text-decoration: none;
}
a:visited {
    color: #1c1c1c;
}
.image {
    padding: 15px;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    vertical-align: bottom;
    border: 5px solid #393e46;;
    border-radius: 20px;
    background: #eeeeee;
    width: 50%;
    height: auto;
    color: #222831;
}
.container {
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
}
.page-heading {
    font-size: 40px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    margin: 10px;
    padding: 15px 25px;
    border: 5px solid #393e46;;
    border-radius: 10px;
    background: #eeeeee;
    color: #222831;
    height: 50px;
}
.program-one {
    padding: 10px 10px 20px;
    font-size: 24px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: right;
    vertical-align: bottom;
    border: 5px solid #393e46;;
    border-radius: 10px;
    background: #0092ca;
    width: 125px;
    height: 20px;
    text-align: center;
    color: #222831;
}
.program-one:hover {
    cursor: pointer;
}
.diet-plan {
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    vertical-align: bottom;
    border: 5px solid #393e46;;
    border-radius: 10px;
    background: #eeeeee;
    width: 125px;
    height: 20px;
    text-align: center;
    color: #222831;
}
.diet-plan:hover {
    cursor: pointer;
}
.workout-plan {
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: left;
    vertical-align: bottom;
    border: 5px solid #393e46;
    border-radius: 10px;
    background: #eeeeee;
    width: 125px;
    height: 20px;
    text-align: center;
    color: #222831;
}
.workout-plan:hover {
    cursor: pointer;
}
.back-btn {
    position: absolute;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: black;
    color: white;
}
.back-btn:hover {
    cursor: pointer;
    background: white;
    color: black;
}
.guide {
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    vertical-align: bottom;
    border: 5px solid #393e46;;
    border-radius: 10px;
    background: #bebebe;
    width: 125px;
    height: 20px;
    text-align: center;
    color: #222831;
}
.guide:hover {
    cursor: pointer;
}
.handbook {
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: left;
    vertical-align: bottom;
    border: 5px solid #393e46;
    border-radius: 10px;
    background: #bebebe;
    width: 125px;
    height: 20px;
    text-align: center;
    color: #222831;
}
.handbook:hover {
    cursor:pointer;
}
.crossfitlevel {
    padding: 10px 10px 20px;
    font-size: 20px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: right;
    vertical-align: bottom;
    border: 5px solid #393e46;;
    border-radius: 10px;
    background: #bebebe;
    width: 125px;
    height: 20px;
    text-align: center;
    color: #222831;
}
.scorecard {
    position: absolute;
    right: 15px;
    bottom: 20px;
    justify-self: center;
}
.prevScore {
    color: white;
}
